* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #bb2d3b;
}

:focus {
  outline: none;
}

.show {
  display: none;
}

body {
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(25deg, var(--main-color), #000 38%);
}

.from-section {
  height: 100vh;
  margin: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.from-section .right,
.from-section .left {
  width: 50%;
  height: 500px;
}

.from-section .right {
  border-radius: 0px 30px 30px 0;
  overflow: hidden;
}

.from-section .left {
  position: relative;
  border-radius: 30px 0 0 30px;
  overflow: hidden;
  text-align: center;
}

.from-section .left::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(45deg, var(--main-color), #ffffff3b 38%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  opacity: 0.7;
  transition: opacity 0.5s;
  z-index: 0;
}

.from-section .left:hover::before {
  opacity: 1;
}

.from-section .left>* {
  position: relative;
  z-index: 1;
}

.from-section .left h1 {
  color: #fff;
  padding: 20px 20px 10px;
  font-size: 50px;
  letter-spacing: -2px;
  text-transform: capitalize;
}

.from-section .left .discounted {
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
}

.from-section .left .discounted span {
  color: var(--main-color);
  font-weight: 700;
  font-size: 30px;
  text-shadow: 1px 1px 10px;
}

.from-section .left .image {
  margin-top: 100px;
}

.from-section .left .image img {
  width: 25rem;
}

.from-section .left .copy-right,
.show .bottom p {
  color: #777;
}

.from-section .left .copy-right span,
.show .bottom p span {
  color: var(--main-color);
  font-size: larger;
}

/*right*/
.from-section .right {
  background-color: #fff;
}

.from-section .right form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.from-section .right form input,
.from-section .right form textarea {
  background-color: #e1e1e1;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #f5f5f5;
  caret-color: var(--main-color);
}

.from-section .right form input::placeholder,
.from-section .right form textarea::placeholder {
  transition: 0.3s;
}

.from-section .right form input:focus::placeholder,
.from-section .right form textarea:focus::placeholder {
  color: transparent;
}

.from-section .right form textarea {
  min-width: 574px;
  max-width: 574px;
  min-height: 65px;
  max-height: 65px;
  font-size: 15px;
  font-weight: bold;
}

.from-section .right .submit {
  width: fit-content;
  padding: 10px 40px;
  font-size: 18px;
  transition: 0.3s;
}

.from-section .right .submit:hover {
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
}

/* start media q */
@media (max-width: 1370px) {
  .from-section .left h1 {
    font-size: 35px;
  }
}

@media (max-width: 1200px) {
  .from-section .left .image img {
    width: 15rem;
  }

  .from-section .left .discounted {
    font-size: 10px;
  }

  .from-section .left .discounted span {
    font-size: 12px;
  }
}

@media (max-width: 545px) {
  .from-section .left {
    display: none;
  }

  .from-section .right {
    width: 100%;
    border-radius: 15px;
  }

  .from-section {
    margin: 0 5px;
  }

  .show {
    display: inline-block;
  }

  .show .top {
    color: #fff;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .show .top,
  .show .bottom {
    width: 100%;
  }

  .show .top h1 {
    font-size: 25px;
  }

  .show .top .discounted {
    border: 1px solid;
    text-shadow: 0px 5px 5px black;
    width: fit-content;
    display: flex;
    justify-self: center;
    padding: 0 20px;
  }

  .show .discounted span {
    color: var(--main-color);
    font-weight: 700;
    font-size: 15px;
    text-shadow: 1px 1px 10px;
  }

  .show .bottom {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    /* text-align: center; */
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .show .bottom .image img {
    width: 145px;
  }
}

@media (max-width: 277px) {
  .show .top h1 {
    font-size: 18px;
  }

  .show .top .discounted {
    font-size: 13px;
  }

  .show .bottom {
    gap: 5px;
  }

  .show .bottom p {
    font-size: 10px;
  }

  .show .bottom .image img {
    width: 100px;
  }
}



