* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #fff;
}

.active {
  background-color: rgba(39, 39, 250, 0.748);
}

:root {
  --main-color: #bb2d3b;
  --main-margin-top: 100px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1100px) {
  .container {
    width: 1100px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1500px) {
  .container {
    width: 1500px;
  }
}

/* start header and landing page */
header {
  min-height: 100vh;
  background-image: linear-gradient(
    345deg,
    var(--main-color),
    rgba(0, 0, 0, 0.753)
  );
}

header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

header .content nav {
  display: flex;
  align-items: center;
}

header .content nav ul {
  display: flex;
}

header .content nav ul li {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  transition: 0.5s;
}

header .content nav ul li a {
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
}

header .content nav ul li:hover {
  background-color: rgba(39, 39, 250, 0.748);
  cursor: pointer;
}

header .content nav button {
  margin-left: 100px;
  color: #000;
  padding: 10px;
  border: none;
  border-radius: 15px;
  outline: none;
  background-color: #ffffff39;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  transition: 0.5s;
}

header .content nav button:hover {
  cursor: pointer;
  background-color: #fff;
}

/* start landing-page */
/* start text or heading */
header .text {
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

header .text::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15%;
  height: 2px;
  border-radius: 15px;
  background-image: linear-gradient(
    to right,
    var(--main-color),
    rgba(0, 0, 0, 0.762)
  );
}

header .text h1 {
  font-size: 60px;
}

header .text p {
  font-size: 20px;
}
/* end text or heading */
header .our-classes {
  margin-top: 20px;
}

header .our-classes .text {
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

header .our-classes.text::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15%;
  height: 2px;
  border-radius: 15px;
  background-image: linear-gradient(
    to right,
    var(--main-color),
    rgba(0, 0, 0, 0.762)
  );
}

header .our-classes .classes-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px 70px;
  margin-top: 50px;
  padding-bottom: 50px;
}

header .our-classes .classes-content .image img {
  width: 100%;
  filter: blur(6px) grayscale(1);
  transition: 0.5s;
}

header .our-classes .classes-content .box:hover .image img {
  filter: blur(0px) grayscale(0);
}

header .our-classes .classes-content .box {
  overflow: hidden;
  border-radius: 15px;
  text-align: center;
  line-height: 1.5;
  background-color: #fff;
}

header .our-classes .classes-content .box a {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  transition: 0.5s;
}

header .our-classes .classes-content .box:hover a {
  color: blue;
}

header .our-classes .classes-content .box:hover a i {
  animation: move-right 0.5s infinite;
}

@keyframes move-right {
  0%,
  100% {
    transform: translateX(0px);
  }

  50% {
    transform: translate(4px);
  }
}
/* start footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to top, black 90%, var(--main-color));
  padding: 40px 10px;
  color: #fff;
  line-height: 2;
}

footer ul {
  display: flex;
}

footer ul li {
  padding-left: 10px;
  font-size: 20px;
}
footer ul li:first-child a:hover {
  color: blue;
}
/* start media */
@media (max-width: 992px) {
  header .content {
    flex-direction: column;
  }

  header .content nav ul li {
    margin-right: 0;
  }

  header .content nav button {
    margin-left: 0;
  }

  header .text p {
    width: 85%;
  }

  .about-ours .image img,
  .great-results .image img {
    display: none;
  }

  .about-ours .text,
  .great-results .text {
    text-align: center;
  }

  .about-ours .text ul li,
  .great-results .text ul li {
    justify-content: center;
  }
}

@media (max-width: 545px) {
  header .content nav {
    flex-direction: column;
  }

  header .text h1 {
    font-size: 45px;
  }

  header .text p {
    font-size: 20px;
  }

  header .content nav ul li a {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  header .logo img {
    width: 155px;
  }

  header .content nav ul li {
    padding: 5px;
  }

  header .text h1 {
    font-size: 35px;
  }

  header .text p {
    font-size: 10px;
  }
}

/* end media for header and landing page */
/* end media  */
